<div class="p-1">
    <mat-card class="p-0">
            <mat-card-content>
                    <div fxLayout="column" fxLayoutGap="10px" class="container">
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 ">    
                            <div *ngIf="!serviceworkShow && serviceleadShow" fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true" style="    font-size: 40px;
                                color: #37993f;" [routerLink]="['../../../../serviceuser/serviceleads']"  matTooltip="Back"></i>
                            </div>
                            <div *ngIf="!serviceleadShow && serviceworkShow" fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true" style="    font-size: 40px;
                                color: #37993f;" [routerLink]="['../../../../serviceuser/listassignmentworkflow']"  matTooltip="Back"></i>
                            </div>
                            <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                                <div class="text-center" fxFlex="100">
                                    <img style="height: 100px; padding: 10px;
                                    border: 1px solid gray;" [src]="previewUrl" class="img1" alt="Logo">
                                    <h2 style="color:#1e293b;">{{StartUpName}}</h2>  
                                    <span class="blink">{{SectorName}}</span><br/>
                                    <span class="blink">{{WebsiteUrl}}</span>
                                </div>
                              
                            </div>
                            <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="right" fxFlexFill class="grid-item text-right">                           
                                <div class="text-right" fxFlex="100">
                                    
                                </div>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;About<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">{{CompanyDescription}}.</p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Address<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">Company Address : {{Address}} </p>
                                <p class="servp">Company Headquarters Address : {{Address}} </p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Contact<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">Phone No.: {{CompanyContact}}| Email : {{CompanyEmailId}}</p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Product Service Description<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">{{ServiceDescription}}.</p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Business Model<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">{{BusinessModel}}.</p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Target Customer Base<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">{{TargetCustomerBase}}.</p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Target Market<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">{{TargetMarket}}.</p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Management Information<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <p class="servp">{{ManagementInfo}}.</p>
                            <br>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                                <h3 style="color:#1e293b;font-style: italic;"><br><i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Company Details<br></h3> <br>
                            </div>
                        </div>
                        <br>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                            <br>
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                           
                                <div class="mat-row" fxFlex.gt-sm="100%">
                                    <table class="table table-bordered">
                                      <thead>
                                            <tr>
                                                <th class="txt-cen">Employee Count</th> 
                                                <th class="txt-cen">Is Stealth</th> 
                                                <th class="txt-cen">Founding Year</th> 
                                            </tr>
                                        </thead>
                                            <tbody>
                                            <tr>
                                                <td class="txt-cen">{{EmployeeCount}}</td>
                                                <td *ngIf="IsStealth" class="txt-cen">Yes</td>
                                                <td *ngIf="!IsStealth" class="txt-cen">No</td>
                                                <td class="txt-cen">{{FoundingYear}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr style="color: gray;">
                        <br>
                    </div>
            </mat-card-content>
    </mat-card>
</div>


