
.table-bordered {
    border: 1px solid #939393;
  }
  
  .table {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 8px;
    background-color: transparent;
    border-collapse: collapse;
  }
  
  .table thead th {
    vertical-align: bottom;
  }
  
  .table-bordered td, .table-bordered th {
    border: 1px solid #9f9f9f;
    padding: 10px;
  }
  

  
  