<mat-card class="bgimg">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="30" class="p-2"></div>
        <div fxFlex="100" fxFlex.gt-sm="40" class="p-4">
            <div class="lgpg pt-4" fxFlex="100">
                <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 25px;"
                    [routerLink]="['/loginpage']" matTooltip="Back To Login"></i>
                <h2 class="text-muted text-center">
                    <img src="assets/logostartupx.png" style=" width: 200px;" class="img1" alt="StartupX"> <sup
                        style="font-size: 13px;"></sup>
                </h2>
                <h2 class="text-muted text-center">RESET PASSWORD</h2>
                <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
                    <mat-form-field appearance="outline" class="w-100 mt-1">
                        <mat-label>New Password</mat-label>
                        <input matInput placeholder="Password" formControlName="password" type="password" minlength="6"
                            required [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="uploadForm.controls.password.errors?.required">Password is required
                        </mat-error>
                        <mat-error *ngIf="uploadForm.controls.password.hasError('minlength')">Password isn't long
                            enough,
                            minimum of 6 characters</mat-error>
                        <mat-error *ngIf="uploadForm.controls.password.hasError('pattern')">Password must contain at
                            least one number, one uppercase , one lowercase letter and one special character and at
                            least 6 characters.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100 mt-1">
                        <mat-label>Confirm New Password</mat-label>
                        <input matInput placeholder="Confirm Password" formControlName="confirmPassword" type="text"
                            required>
                        <mat-error *ngIf="uploadForm.controls.confirmPassword.errors?.required">Confirm Password is
                            required</mat-error>
                        <mat-error *ngIf="uploadForm.controls.confirmPassword.hasError('mismatchedPasswords')">
                            Passwords
                            do not match</mat-error>
                    </mat-form-field>
                    <div class="text-center " fxFlex="100">
                        <button mat-raised-button color="primary" class="mat-elevation-z6">
                            <mat-label>RESET PASSWORD</mat-label>
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="30" class="p-2"></div>
    </div>
</mat-card>