<div class="">
    <div class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; List of Service Users</h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search ..." name="title"
                            [(ngModel)]="title" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                    <td class="tdbtn">
                        <button mat-raised-button color="primary" type="button" [routerLink]="['../addserviceuser']"><i
                                class="fa fa-users" aria-hidden="true"></i>&nbsp; ADD</button>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div class="mat-table admin-table">
                <div class="mat-header-row">
                    <div class="mat-header-cell">Name</div>
                    <div class="mat-header-cell">Service Provider</div>
                    <div class="mat-header-cell">Email Id</div>
                    <div class="mat-header-cell">Category</div>
                    <div class="mat-header-cell" fxFlex.gt-sm="10">Portfolio</div>
                    <div class="mat-header-cell text-center" fxFlex.gt-sm="8">Status</div>
                    <div class="mat-header-cell text-center">Action</div>
                </div>
                <div class="mat-row" *ngFor="let item of ServiceUserList | paginate: { itemsPerPage: count, currentPage: page }">
                    <div class="mat-cell">{{item.firstName}} {{item.lastName}}</div>
                    <div class="mat-cell">{{item.serviceDataModel.serviceProviderName}}</div>
                    <div class="mat-cell">{{item.emailId}}</div>
                    <div class="mat-cell">{{item.category}}</div>
                    <div class="mat-cell" fxFlex.gt-sm="10"><button
                            *ngIf="item.serviceDataModel.serviceProviderName!=null" color="primary"
                            matTooltip="Download" class="mx-1 mydoc"
                            (click)="downloadDocument(item.serviceDataModel.serviceId,item.serviceDataModel.serviceProviderName);"><i class="fa fa-download"
                                aria-hidden="true"></i> Download </button></div>
                    <div class="mat-cell text-center" fxFlex.gt-sm="8" *ngIf="item.serviceStatus==null">InActive</div>
                    <div class="mat-cell text-center" fxFlex.gt-sm="8" *ngIf="item.serviceStatus==true">Active</div>
                    <div class="mat-cell text-center" fxFlex.gt-sm="8" *ngIf="item.serviceStatus==false">Blocked</div>
                    <div class="mat-cell text-center">
                        <div>
                            <a *ngIf="item.serviceDataModel.serviceProviderName!=null" color="primary"
                                matTooltip="Activate" class="btns2" (click)="active(item.userId); " > <i
                                    class="fa fa-info-circle btnck" aria-hidden="true"></i> Activate</a>
                            <a *ngIf="item.serviceDataModel.serviceProviderName!=null" color="primary"
                                matTooltip="Block" class="btns3" (click)="blocked(item); "> <i class="fa fa-ban btncr"
                                    aria-hidden="true"></i> Block</a>
                            <br>
                            <a [routerLink]="['../editserviceuser',item.userId]" color="primary" matTooltip="Active"
                                class="btns2"> <i class="fa fa-pencil btney" aria-hidden="true"></i> Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ServiceUserList.length > 0" fxLayout="row wrap">
            <div fxFlex="100" class="p-11">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
            <div fxLayout="" fxLayoutGap="10px" class="container">
                <div fxFlex="50%" class="text-left">
                    <button mat-raised-button color="accent" type="button"
                        [routerLink]="['../../../admin/dashboard-menu/dash-board']"> <i class="fa fa-arrow-circle-left"
                            aria-hidden="true"></i> BACK</button>
                </div>
            </div>
        </div>
    </div>
</div>