<mat-card class="bgimg">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="35" class="p-2"></div>
        <div fxFlex="100" fxFlex.gt-sm="30" class="p-4">
            <div class="lgpg pt-4" fxFlex="100">
                <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 25px;"
                    [routerLink]="['/loginpage']" matTooltip="Back To Login"></i>
                <h2 class="text-muted text-center">
                    <img src="assets/logostartupx.png" style=" width: 200px;" class="img1" alt="StartupX"> <sup
                        style="font-size: 13px;"></sup>
                </h2>
                <h2 class="text-muted text-center">FORGOT PASSWORD ?</h2>
                <form [formGroup]="loginForm" (ngSubmit)="forgotUser(loginForm.value)" fxLayout="row wrap">
                    <br />
                    <mat-label class="text-muted text-center" fxFlex="100">Please enter your email, we will send you
                        OTP.</mat-label>
                    <br />
                    <mat-form-field appearance="outline" class="w-100 mt-2">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" required>
                        <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
                        <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">Please enter valid email
                            address</mat-error>
                    </mat-form-field>
                    <div class="text-center mt-2" fxFlex="100">
                        <button mat-raised-button color="primary" (click)="forgotUser(loginForm.value)" class="submit">
                            <mat-label>CONTINUE</mat-label>
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="35" class="p-2"></div>
    </div>
</mat-card>