<div fxLayout="column" fxLayoutGap="10px" class="container">
    <form [formGroup]="uploadForm" (ngSubmit)="onButtonClick(uploadForm.value)" autocomplete="off">
        <div fxFlex.gt-sm="100%" fxFlex.lt-md="100%" fxLayoutAlign="center center" class="grid-item">
            <mat-stepper orientation="horizontal" style="width: 100% !important;">
                <mat-step>
                    <ng-template matStepContent>
                        <div fxLayout="column" fxLayoutGap="10px" class="container">
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" class="block-2">
                                <div fxFlex="100%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                                    <h3 class="mtbb-15 text-center">How would you like to Indicate your interest?</h3>
                                </div>
                            </div>
                            <div fxFlex="100%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                                <mat-form-field appearance="" class="w-100 w-101">
                                    <mat-label>Investment Value</mat-label>
                                    <input matInput formControlName="indicateInterest" type="text" style="color: #000;">
                                    <mat-error *ngIf="uploadForm.controls.indicateInterest.errors?.required">
                                        Enter your Interested Investment
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" class="block-2 mtts-100">
                                <div fxFlex="50%" class="text-left">
                                    <button mat-raised-button color="primary" matStepperPrevious type="button" (click)="closeForm()">
                                        <i aria-hidden="true"></i> Cancel
                                    </button>
                                </div>
                                <div fxFlex="50%" class="text-right">
                                    <button mat-raised-button color="primary" matStepperNext type="submit" [disabled]="!uploadForm.valid">
                                        Submit <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-step>
            </mat-stepper>
        </div>
    </form>
</div>
