
.table-bordered {
    border: 1px solid #3e3e3f;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 8px;
    background-color: transparent;
    border-collapse: collapse;
  }
  
  .table thead th {
    vertical-align: bottom;
  }
  
  .table-bordered td, .table-bordered th {
    border: 1px solid #7f7f7f;
    padding: 10px;
  }
  
  th{
    text-align: left !important;
  }
  
  .mat-expansion-panel-header.mat-expanded {
    height: 50px;
    border-bottom: 1px solid gainsboro;
    border-radius: 0px;
}

.text-center{
  text-align: center !important;
}




.mat-row {
  padding: 0px 0px !important;
}

.mat-expansion-panel-body {
  padding: 0px 15px 8px !important;
}
