<div class="">
    <div class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Startup Details</h2>
        </div>
        <form [formGroup]="uploadForm" (ngSubmit)="onSartupdetailSubmit(uploadForm.value)" autocomplete="off">
            <mat-card-content>
                <input matInput formControlName="startupId" hidden="true">
                <div fxLayout="column" fxLayoutGap="10px" class="container">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Startup Name</mat-label>
                                <input matInput formControlName="startUpName" required>
                                <mat-error *ngIf="uploadForm.controls.startUpName.errors?.required">Startup Name is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.startUpName.hasError('maxlength')">StartUp Name
                                    cannot exceed more than 100 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="66.67%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="address" required>
                                <mat-error *ngIf="uploadForm.controls.address.errors?.required">Address is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.address.hasError('minlength')">Please enter
                                    valid Address</mat-error>
                                <mat-error *ngIf="uploadForm.controls.address.hasError('maxlength')">Address
                                    cannot exceed more than 200 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Country</mat-label>
                                <mat-select matNativeControl formControlName="countryId"
                                    (selectionChange)="onChangeCountry($event)" required>
                                    <mat-option *ngFor="let con of country" [value]="con.countryId">
                                        <span>{{con.countryName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.countryId.hasError('required')">Please Select
                                    Country</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>State</mat-label>
                                <mat-select matNativeControl formControlName="stateId"
                                    (selectionChange)="onChangeState($event)" required>
                                    <mat-option *ngFor="let state of states" [value]="state.stateId">
                                        <span>{{state.stateName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.stateId.errors?.required">Please Select
                                    State</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>City</mat-label>
                                <mat-select matNativeControl formControlName="cityId" ngModel required>
                                    <mat-option *ngFor="let city of cities" [value]="city.cityId">
                                        <span>{{city.cityName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.cityId.errors?.required">Please Select
                                    City</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Founding Year</mat-label>
                                <input matInput formControlName="foundingYear" (keypress)="keyPressNumbers($event)"
                                    minlength="4" maxlength="4" required>
                                <mat-error *ngIf="uploadForm.controls.foundingYear.errors?.required">Founding Year is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.foundingYear.hasError('maxlength')">Founding Year
                                    cannot exceed more than 10 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="66.67%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Company Description (Max. 500 Characters)</mat-label>
                                <textarea matInput formControlName="companyDescription" required></textarea>
                                <mat-error *ngIf="uploadForm.controls.companyDescription.errors?.required">
                                    Company Description is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.companyDescription.hasError('maxlength')">Company
                                    Description
                                    cannot exceed more than 500 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Website URL</mat-label>
                                <input matInput formControlName="websiteUrl" required>
                                <mat-error *ngIf="uploadForm.controls.websiteUrl.errors?.required">Website URL is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.websiteUrl.hasError('pattern')">Please enter
                                    valid URL</mat-error>
                                <mat-error *ngIf="uploadForm.controls.websiteUrl.hasError('maxlength')">Website Url
                                    cannot exceed more than 100 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <div appearance="" class="w-100 sgln">
                                <mat-label>Logo (.jpg /.jpeg /.png)</mat-label><br />
                                <input type="file" formControlName="logo" id="file" (change)="onFileSelected($event)">
                                <mat-error *ngIf="this.imagefile =='' || this.imagefile == null">Please select the logo.
                                </mat-error>
                            </div>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <div appearance="" class="w-100 sgln ">
                                <!-- <span class="lgprev">Logo Preview</span> -->
                                <span class="lgprev"><img
                                        style="max-width: 40%; max-height: 60px;border: 1px solid gray;"
                                        [src]="previewUrl || placeholderImage"></span>
                            </div>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 ">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <div appearance="" class="w-100 sgln1">
                                <mat-label>Whether in Stealth ? :</mat-label>
                                <!-- <mat-slide-toggle color="primary" class="mttop20"></mat-slide-toggle> -->
                                <mat-slide-toggle color="primary" class="mttop20" formControlName="isStealth"
                                    [checked]="WhetherInStealth" (change)="onCheckBoxChange($event)">
                                </mat-slide-toggle>
                                <i class="fa fa-info-circle sgln1ico" aria-hidden="true"
                                    matTooltip="Whether is Stealth mode is yes then the company details will not be visible to anyone. else if it is no then it will be visible to all."></i>
                            </div>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item mttop20">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Employee Count</mat-label>
                                <mat-select matNativeControl formControlName="employeeCount" required>
                                    <mat-option *ngFor="let employee of employeeCount" [value]="employee.employeeCount">
                                        <span>{{employee.employeeCount}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.employeeCount.errors?.required">Please Select
                                    Employee Count</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item mttop20">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Sector</mat-label>
                                <mat-select matNativeControl formControlName="sectorId" required>
                                    <mat-option *ngFor="let sec of sectors" [value]="sec.sectorId">
                                        <span>{{sec.sectorName}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="uploadForm.controls.sectorId.errors?.required">Please Select Sector
                                    Name</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Legal Name</mat-label>
                                <input matInput formControlName="companyLegalName" required>
                                <mat-error *ngIf="uploadForm.controls.companyLegalName.errors?.required">Legal Name is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.companyLegalName.hasError('maxlength')">Company
                                    Legal Name
                                    cannot exceed more than 100 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="companyEmailId" required>
                                <mat-error *ngIf="uploadForm.controls.companyEmailId.errors?.required">Email is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.companyEmailId.hasError('pattern')">Please enter
                                    valid
                                    email</mat-error>
                                <mat-error *ngIf="uploadForm.controls.companyEmailId.hasError('maxlength')">Company
                                    EmailId
                                    cannot exceed more than 100 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Contact</mat-label>
                                <input matInput formControlName="companyContact" (keypress)="keyPressNumbers($event)"
                                    required>
                                <mat-error *ngIf="uploadForm.controls.companyContact.errors?.required">Company Contact
                                    is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.companyContact.hasError('minlength')">Company
                                    Contact
                                    need at least 7 characters</mat-error>
                                <mat-error *ngIf="uploadForm.controls.companyContact.hasError('maxlength')">Company
                                    Contact
                                    cannot exceed more than 15 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Company Headquarters address</mat-label>
                                <input matInput formControlName="companyHeadquartersAddress" required>
                                <mat-error
                                    *ngIf="uploadForm.controls.companyHeadquartersAddress.errors?.required">Company
                                    Headquarters address is
                                    required</mat-error>
                                <mat-error
                                    *ngIf="uploadForm.controls.companyHeadquartersAddress.hasError('maxlength')">Company
                                    Headquarters Address
                                    cannot exceed more than 200 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Product/Service Description (Max. 500 Characters)</mat-label>
                                <textarea matInput formControlName="serviceDescription"></textarea>
                                <mat-error *ngIf="uploadForm.controls.serviceDescription.hasError('maxlength')">Service
                                    Description
                                    cannot exceed more than 500 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="97%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Business Model (Max. 500 Characters)</mat-label>
                                <textarea matInput formControlName="businessModel"></textarea>
                                <mat-error *ngIf="uploadForm.controls.businessModel.hasError('maxlength')">Business
                                    Model
                                    cannot exceed more than 500 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="3%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <i class="fa fa-info-circle sgln1ico1" aria-hidden="true"
                                matTooltip="The term business model refers to a company's plan for making a profit. It identifies the products or services the business plans to sell, its identified target market, and any anticipated expenses. Business models are important for both new and established businesses."></i>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Target Customer Base (Max. 500 Characters)</mat-label>
                                <textarea matInput formControlName="targetCustomerBase"></textarea>
                                <mat-error *ngIf="uploadForm.controls.targetCustomerBase.hasError('maxlength')">Target
                                    Customer Base
                                    cannot exceed more than 500 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Target Market (Max. 500 Characters)</mat-label>
                                <textarea matInput formControlName="targetMarket" required></textarea>
                                <mat-error *ngIf="uploadForm.controls.targetMarket.errors?.required">Target Market
                                    is required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.targetMarket.hasError('maxlength')">Target Market
                                    cannot exceed more than 500 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="40%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Role</mat-label>
                                <input matInput #role (change)="onTextChangeRole($event.target)" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="40%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Name</mat-label>
                                <input matInput #name (change)="onTextChangeName($event.target)" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <div class="tp-2"><button mat-raised-button color="primary" (click)="addManagementInfo();"
                                    [disabled]="buttenDisabled" class="explr"><i class="fa fa-plus" aria-hidden="true"></i> ADD
                                </button></div>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Management Information (Max. 500 Characters)</mat-label>
                                <textarea matInput formControlName="managementInfo" required
                                    (change)="onTextChangeMan($event.target)"></textarea>
                                <mat-error *ngIf="uploadForm.controls.managementInfo.errors?.required">Management
                                    Information is
                                    required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
                <div fxLayout="" fxLayoutGap="10px" class="container">
                    <div fxFlex="50%" class="text-left">
                        <button mat-raised-button color="accent" type="button"
                            [routerLink]="['../../../admin/startup/dashboardstartup']"> <i
                                class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid" class="explr"><i
                                class="fa fa-floppy-o" aria-hidden="true"></i> SUBMIT</button>
                    </div>
                    <div fxFlex="50%" class="text-right">
                        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>