<div class="">
    <div class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Bank Account Details</h2>
        </div>
        <form [formGroup]="uploadForm" (ngSubmit)="onbankDetailSubmit(uploadForm.value)">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px" class="container">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>IFSC Code</mat-label>
                                <input matInput formControlName="ifsccode" required>
                                <mat-error *ngIf="uploadForm.controls.ifsccode.errors?.required">IFSC Code is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.ifsccode.hasError('maxlength')">IFSC Code
                                    cannot exceed more than 100 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Account Number</mat-label>
                                <input matInput formControlName="accountNumber" (keypress)="keyPressNumbers($event)"
                                    required>
                                <mat-error *ngIf="uploadForm.controls.accountNumber.errors?.required">Account Number is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.accountNumber.hasError('maxlength')">Account
                                    Number
                                    cannot exceed more than 100 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="66.66%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Bank Name</mat-label>
                                <input matInput formControlName="bankName" required>
                                <mat-error *ngIf="uploadForm.controls.bankName.errors?.required">Bank Name is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.bankName.hasError('maxlength')">Bank Name
                                    cannot exceed more than 100 characters</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Branch Name</mat-label>
                                <input matInput formControlName="branchName" required>
                                <mat-error *ngIf="uploadForm.controls.branchName.errors?.required">Branch Name is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.branchName.hasError('maxlength')">Branch Name
                                    cannot exceed more than 50 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
                <div fxLayout="" fxLayoutGap="10px" class="container">
                    <div fxFlex="50%" class="text-left">
                        <button mat-raised-button color="accent" type="button"
                            [routerLink]="['../../../admin/investor/dashboardinvestor']"> <i
                                class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK</button>
                        <button mat-raised-button color="primary" type="submit" class="explr" [disabled]="!uploadForm.valid">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> SUBMIT</button>
                    </div>
                    <div fxFlex="50%" class="text-right">
                        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>