<h2 class="mat-dialog-title">Reason For Block</h2>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmit(uploadForm.value)">
    <mat-dialog-content class="mat-typography">

        <div fxLayout="column" class="container">
            <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2 ">
                <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Enter Reason</mat-label>
                        <textarea matInput formControlName="comment" required></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div fxFlex="50%" class="text-left">
            <button (click)="closeDialog()" mat-raised-button color="accent" type="button"> <i class="fa fa-ban"
                    aria-hidden="true"></i> CANCEL</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid"><i
                    class="fa fa-floppy-o" aria-hidden="true"></i> SUBMIT</button>
        </div>
        <div fxFlex="50%" class="text-right">
            <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
        </div>
    </mat-dialog-actions>
</form>