<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;Assignment Workflow </h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search ..." name="title"
                            [(ngModel)]="title" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                </tr>
            </table>
        </div>
        <mat-divider></mat-divider>
        <div class="wid100">
            <div class="mat-table admin-table">
                <div class="mat-header-row">
                    <div class="mat-header-cell">Startup Name</div>
                    <div class="mat-header-cell">Interested Services</div>
                    <div class="mat-header-cell text-center">Interest Date</div>
                    <div class="mat-header-cell text-center" fxFlex.gt-sm="15">Status</div>
                    <div class="mat-header-cell text-center">Accepted Date</div>
                    <div class="mat-header-cell text-center" fxFlex.gt-sm="15">Invoice</div>
                </div>
                <div class="mat-row" *ngFor="let case of ServiceCaseList | paginate: { itemsPerPage: count, currentPage: page }">
                    <div class="mat-cell"><a [routerLink]="['../../serviceuser/customerdetails',case.serviceCaseId,0]"
                            matTooltip="view" class="btns1">{{case.startupDeatailModel.startUpName}}</a></div>
                    <div class="mat-cell">{{case.intrestedServiceNames}}</div>
                    <div class="mat-cell text-center">{{case.serviceInterestDate | date:'dd/MM/yyyy'}}</div>
                    <div class="mat-cell text-center" fxFlex.gt-sm="15">{{case.status}}</div>
                    <div class="mat-cell text-center">{{case.acceptedDate | date:'dd/MM/yyyy'}}</div>
                    <div class="mat-cell text-center" fxFlex.gt-sm="15">
                        <a (click)="openDialog(case.serviceCaseId)" mat-mini-fab color="primary"
                            matTooltip="Upload Invoice"><i class="fa fa-upload" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="ServiceCaseList.length > 0" fxLayout="row wrap">
            <div fxFlex="100" class="p-11">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
            <div fxLayout="" fxLayoutGap="10px" class="container">
                <div fxFlex="50%" class="text-left">
                    <button mat-raised-button color="accent" type="button"
                        [routerLink]="['../../serviceuser/dashboardserviceuser']"> <i class="fa fa-arrow-circle-left"
                            aria-hidden="true"></i> BACK</button>
                </div>
            </div>
        </div>
    </mat-card>

</div>