<div class="p-1">
    <!-- <mat-divider></mat-divider> -->

    <div fxLayout="row wrap" #resizedDiv>

        <!-- <div fxFlex="100" fxFlex.gt-sm="45" fxFlex.sm="50" class="p-1">
            <div class="relative w-24 h-24" style="margin: 0.7rem 0rem 0rem 0rem; text-align: left;">
                <h2 style="color:#1e293b;">Welcome Back ! <span style="font-size: small;">(Service User)</span></h2>
                <span class="blink" [routerLink]="['../../../admin/notification/listnotification']"><i
                        class="fa fa-bell" aria-hidden="true"></i> You have {{notificationCount}} new notifications regarding action.</span>
            </div>
        </div> -->

        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="p-1">
            <div class="relative w-24 h-24" style="margin: 1rem 0rem 0rem 0rem; text-align: right;">
                <!-- <a mat-mini-fab color="primary" class="clb" matTooltip="Check Emails"><i class="fa fa-envelope" aria-hidden="true"></i></a>  -->
            </div>
        </div>

    </div>

    <br>


    <!-- <mat-divider></mat-divider>
    <p class="ftr">© Startupx - 2023</p> -->
</div>