<mat-card class="bgimg">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="24" class="p-2"></div>
        <div fxFlex="100" fxFlex.gt-sm="52" class="pt-4">
            <div class="lgpg pt-4" fxFlex="100">
                <i class="fa fa-arrow-circle-left" aria-hidden="true" style="font-size: 25px;" [routerLink]="['/loginpage']"  matTooltip="Back To Login"></i>
                <h2 class="text-muted text-center">
                    <img src="assets/logostartupx.png" style=" width: 200px;" class="img1" alt="StartupX"> <sup
                        style="font-size: 13px;"></sup>
                </h2>
                <h2 class="text-muted text-center">REGISTER</h2>
                <mat-tab-group mat-stretch-tabs (selectedTabChange)="selectedTabValue($event)" >
                    <mat-tab label="Startup" aria-selected="true"></mat-tab>
                    <mat-tab label="Investor"></mat-tab>
                </mat-tab-group >
                <br>
                <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
                    <div fxLayout="column" class="container">
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                                class="grid-item">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>First Name</mat-label>
                                    <input (keypress)="keyPressOnlyChar($event)" matInput formControlName="firstName"
                                        required>
                                    <mat-error *ngIf="uploadForm.controls.firstName.errors?.required">First Name is
                                        required</mat-error>
                                    <mat-error *ngIf="uploadForm.controls.firstName.hasError('minlength')">Please enter
                                        valid First Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                                class="grid-item">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Last Name</mat-label>
                                    <input (keypress)="keyPressOnlyChar($event)" matInput formControlName="lastName"
                                        required>
                                    <mat-error *ngIf="uploadForm.controls.lastName.errors?.required">Last Name is
                                        required</mat-error>
                                    <mat-error *ngIf="uploadForm.controls.lastName.hasError('minlength')">Please enter
                                        valid Last Name</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="emailId" required>
                                    <mat-error *ngIf="uploadForm.controls.emailId.errors?.required">Email is
                                        required</mat-error>
                                    <mat-error *ngIf="uploadForm.controls.emailId.hasError('pattern')">Please enter
                                        valid
                                        email</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Password</mat-label>
                                    <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    <mat-error *ngIf="uploadForm.controls.password.errors?.required">Password is required</mat-error>
                                    <mat-error *ngIf="uploadForm.controls.password.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                                    <mat-error *ngIf="uploadForm.controls.password.hasError('pattern')">Password must contain at least one number, one uppercase, one lowercase letter & one special character & at least 6 characters.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">                
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label> Confirm Password</mat-label>
                                    <input matInput formControlName="confirmPassword" required >
                                    <!-- <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                                    <mat-error *ngIf="uploadForm.controls.confirmPassword.errors?.required">Confirm
                                        Password is
                                        required</mat-error>
                                    <mat-error
                                        *ngIf="uploadForm.controls.confirmPassword.hasError('mismatchedPasswords')">
                                        Passwords do not match</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                                <mat-label>You are - &nbsp;</mat-label>
                                <mat-radio-group formControlName="Types" aria-label="Select an option" color="primary" >
                                    <mat-radio-button value="Individual"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Individual</mat-radio-button>
                                    <mat-radio-button value="Organization"><i class="fa fa-building" aria-hidden="true"></i> &nbsp; Organization </mat-radio-button>
                                </mat-radio-group>
                                <mat-error *ngIf="uploadForm.controls.Types.errors?.required && submitted">Please select type</mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-1 bts" fxFlex="100">
                        <button mat-raised-button color="primary" [disabled]="!uploadForm.valid" type="submit" >REGISTER ME</button>
                    </div>
                </form>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="24" class="p-2"></div>
    </div>
</mat-card>