<h2 class="mat-dialog-title text-center">We Will Update Soon!</h2>

<mat-dialog-content class="mat-typography">
    <div fxLayout="column" fxLayoutAlign="center center" class="container">
        <!-- You can add any content here that you want to center -->
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center" class="text-center">
        <button (click)="closeDialog()" mat-raised-button color="accent" type="button">
            <i aria-hidden="true"></i> OK
        </button>
    </div>
</mat-dialog-actions>

