.pfvisit {
    height: 45px;
}

.mat-table{
    width: 100%;
}

.mtb{
    background: transparent !important;
}


.invbtn{
    padding: 3px 7px;
    color: #fff !important;
    border-radius: 5px;
    border: 1px solid gray;
}

.mt-10{
    margin-top: 15px;
}
.text-center {
    text-align: center !important;
}

.layout {
    background-color: #37993f;
    height: 10px;
    width: 70px;
  }

  .lyout{
    width: 90%;
    border: 1px solid gainsboro;
    margin: 22px;
    background: #f0efef;
  }

  .stddeal{
    border: 1px solid gainsboro;
    margin: 20px;
    height: 165px;
  }

  .expdeal{
    border: 1px solid gainsboro;
    margin: 20px;
    height: 165px;
}

.prv{
    float: right;
    color: #b8b8ff;
}
.prv1{
    color: #9494ab;
}

.p1{
    padding-left: 7px !important;
}

.mat-expansion-panel{
    margin: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px !important;
  }