<div class="p-1">
    <!-- <mat-divider></mat-divider> -->
    <!-- <div fxLayout="row wrap" #resizedDiv> -->
        <!-- <div fxFlex="100" fxFlex.gt-sm="47" fxFlex.sm="50" class="p-1">
            <div class="relative w-24 h-24" style="margin: 0.7rem 0rem 0rem 0rem; text-align: left;">
                <h2 style="color:#1e293b;">Welcome Back ! <span style="font-size: small;">(Founder)</span></h2>
                <span class="blink" [routerLink]="['../../../admin/notification/listnotification']"><i
                        class="fa fa-bell" aria-hidden="true"></i> You have {{notificationCount}} new notifications
                    regarding emails.</span>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="13" fxFlex.sm="50" class="p-1"
            style="border-right: 1px solid #b5b5ca;text-align: center;">
            <div class="relative w-24 h-24">
                <i class="fa fa-user lgtype" aria-hidden="true"></i>
                <h4 class="mt-1">{{founderTypeName}}</h4>
            </div>
        </div> -->
        <!-- <div fxFlex="100" fxFlex.gt-sm="16" fxFlex.sm="50" class="p-1"> 
            <div class="relative w-24 h-24" style="margin: 1rem 0rem 0rem 0rem; text-align: left;">
                <h4 style="color: green;"><i class="fa fa-check" aria-hidden="true"></i> Email : Verified </h4>
            </div>
            <div class="relative w-24 h-24" style="margin: 1rem 0rem 0rem 0rem; text-align: left;">
                <h4 style="color: green;"><i class="fa fa-check" aria-hidden="true"></i> Contact : Verified </h4>
            </div>
        </div> -->
        <!-- <div fxFlex="100" fxFlex.gt-sm="12" fxFlex.sm="50" class="p-1">
            <div class="relative w-24 h-24" style="margin:0rem; text-align: center;">
                <div class="circle-wrap">
                    <div class="circle">
                        <div class="mask full">
                            <div class="fill"></div>
                        </div>
                        <div class="mask half">
                            <div class="fill"></div>
                        </div>
                        <div class="inside-circle">
                            {{founderProfileCompetion}}%
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div fxFlex="100" fxFlex.gt-sm="17" fxFlex.sm="50" class="p-1">
            <div class="relative w-24 h-24" style="margin-top:1rem; text-align: left;">
                <h4>Profile<br>Complete</h4>
            </div>
        </div> -->
        <!-- <div fxFlex="100" fxFlex.gt-sm="11" fxFlex.sm="50" class="p-1">
            <div class="relative w-24 h-24" style="margin: 0.3rem 0rem 0rem 0rem; text-align: center;">
                <img *ngIf="verified" src="assets/images/others/ver.png" style="height: 50px; " class="img1">
                <img *ngIf="!verified" src="assets/images/others/unver.png" style="height: 50px; " class="img1">
                <h5>{{ProfileStatus}}</h5>
            </div>
        </div> -->
    <!-- </div> -->

    <div fxLayout="row wrap" class="nobord" #resizedDiv>
        <div fxFlex="100" fxFlex.gt-sm="44" fxFlex.sm="50"  style="display: block; cursor: pointer;">
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50" class="p-1">
                <mat-card class="p-0 Divbg2 crd-mat-card">
                    <div fxLayout="row wrap" fxFlex="100" style=" cursor: pointer;    height: 123px; margin-left: 15px;"
                        [routerLink]="['../../../admin/startup/listfounderdetails']">
                        <div fxFlex="35" ffxFlex.sm="50" class="p-1 ">
                            <img src="assets/images/bg/founder1.jpg" class="img1 crdimg mtt-25 mtbb-30 mt-1">
                        </div>
                        <div fxFlex="65" ffxFlex.sm="50" class="p-1">
                            <div class="text-center" fxFlex="100" style="margin-top:28px;">
                                <h4 class="crdhd">Founders<br><span class="count">{{FounderDetailCount}}</span></h4>
                            </div>
                        </div>
                    </div>
                <!-- </mat-card>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="mt-1" style="display: block; cursor: pointer;">
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50" class="p-1">
                <mat-card class="p-0 Divbg2"> -->
                    <div fxLayout="row wrap" fxFlex="100" style=" cursor: pointer;    height: 123px;"
                        [routerLink]="['../../../admin/startup/fundingdetails']">
                        <div fxFlex="35" ffxFlex.sm="50" class="p-1">
                            <img src="assets/images/bg/amount1.jpg" class="img1 crdimg mtt-25 mtbb-30 mt-1">
                        </div>
                        <div fxFlex="65" ffxFlex.sm="50" class="p-1">
                            <div class="text-center" fxFlex="100" style="margin-top:28px;">
                                <h4 class="crdhd">Funding<br><span class="count">{{FundingDetailCount}}</span></h4>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" style="display: block; cursor: pointer; margin-left: -15px;margin-right: -15px;">
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50" class="p-1">
                <mat-card class="p-0 Divbg2 crd-mat-card">
                    <ul class="numbered-list crdnumlist">
                        <li>
                            <div class="p-0 ">
                                <div fxLayout="row wrap" fxFlex="100" style="height: 30px; cursor: pointer;"
                                    [routerLink]="['../../../admin/startup/startupdetails']">
                                    <!-- <div fxFlex="15" ffxFlex.sm="50">
                                        <div class="text-left" fxFlex="100" style="display:none">
                                            <i class="fa fa-check-circle oktick" aria-hidden="true"></i><sup
                                                style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                        </div>
                                    </div> -->
                                    <div fxFlex="100" ffxFlex.sm="50">
                                        <div class="text-left" fxFlex="100" style="margin-top: 6px; letter-spacing: 1px;">
                                            <h4 class="crdh1"> <i class="fa fa-building crdico"></i>Startup Details</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="p-0 ">
                                <div fxLayout="row wrap" fxFlex="100" style="height: 30px; cursor: pointer;"
                                    [routerLink]="['../../../admin/startup/listfounderdetails']">
                                    <!-- <div fxFlex="15" ffxFlex.sm="50">
                                        <div class="text-left" fxFlex="100" style="display:none">
                                            <i class="fa fa-check-circle oktick" aria-hidden="true"></i><sup
                                                style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                        </div>
                                    </div> -->
                                    <div fxFlex="100" ffxFlex.sm="50">
                                        <div class="text-left" fxFlex="100" style="margin-top: 6px; letter-spacing: 1px;">
                                            <h4 class="crdh1"> <i class="fa fa-user-circle-o crdico"></i>Founder Details</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="p-0 ">
                                <div fxLayout="row wrap" fxFlex="100" style="height: 30px; cursor: pointer;"
                                    [routerLink]="['../../../admin/startup/fundingdetails']">
                                    <!-- <div fxFlex="15" ffxFlex.sm="50">
                                        <div class="text-left" fxFlex="100" style="display:none">
                                            <i class="fa fa-check-circle oktick" aria-hidden="true"></i><sup
                                                style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                        </div>
                                    </div> -->
                                    <div fxFlex="100" ffxFlex.sm="50">
                                        <div class="text-left" fxFlex="100" style="margin-top: 6px; letter-spacing: 1px;">
                                            <h4 class="crdh1"> <i class="fa fa-money crdico"></i>Funding Details</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </mat-card>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="17" fxFlex.sm="50" style="display: block; cursor: pointer; ">
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50" class="p-1">
                <div class="relative" style=" text-align: center;">
                    <button color="primary" class="btnverify1 mt-1 btnsv" mat-raised-button [disabled]="buttonDisabled"
                        matTooltip="Send For Verification" (click)="senForVerification();">
                        <h4 style="line-height: 1.3;margin-bottom: 5px;"><i class="fa fa-hand-o-up oktick" aria-hidden="true"></i><br>Send For<br>Verification</h4>
                    </button>
                </div>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="17" fxFlex.sm="50" style="display: block; cursor: pointer;     margin-left: -15px;">
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50" class="p-1">
                <div class="relative " style=" text-align: center;">
                    <button color="primary" class="btnverify1 mt-1 btnsv" mat-raised-button
                        [disabled]="raisebuttonDisabled" matTooltip="Raise Funding" (click)="raiseFunding();">
                        <h4 style="line-height: 1.3;margin-bottom: 5px;"><i class="fa fa-money oktick" aria-hidden="true"></i><br>Raise<br>Funding</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div fxLayout="row wrap" #resizedDiv>
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="p-1"> 
            <div class="relative w-24 h-24" style="margin: 1rem 0rem 0rem 0rem; text-align: center;border-right: 1px solid #b5b5ca;">
                <img src="assets/images/others/serv.png" style="height: 140px; " class="img1" alt="cinque terre">
                <h4>Services</h4><br>
            </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="70" fxFlex.sm="50" class="p-1"> 
            <br>
            <div fxLayout="row wrap" #resizedDiv>
                <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-1 "> 
                        <div class='circle-container'>
                            <a href='#' class='deg1 disable-me'><img src="assets/images/others/ser (1).png" style="height: 105px;padding-top: 3px; " class="img1" alt="cinque terre"></a>
                            <a href='#' class='deg2 disable-me'><img src="assets/images/others/ser (2).png" style="height: 105px;padding-top: 3px; " class="img1" alt="cinque terre"></a>
                            <a href='#' class='deg3 disable-me'><img src="assets/images/others/ser (3).png" style="height: 105px;padding-top: 3px; " class="img1" alt="cinque terre"></a>
                            <a href='#' class='deg4 disable-me'><img src="assets/images/others/ser (7).png" style="height: 105px;padding-top: 3px;" class="img1" alt="cinque terre"></a>
                            <a href='#' class='deg5 disable-me'><img src="assets/images/others/ser (4).png" style="height: 105px;padding-top: 3px; " class="img1" alt="cinque terre"></a>
                            <a href='#' class='deg6 disable-me'><img src="assets/images/others/ser (5).png" style="height: 105px;padding-top: 3px; " class="img1" alt="cinque terre"></a>
                            <a href='#' class='deg7 disable-me'><img src="assets/images/others/ser (6).png" style="height: 105px;padding-top: 3px; " class="img1" alt="cinque terre"></a>
                        </div>
                </div>
            </div>  
        </div>
    </div>
    <mat-divider></mat-divider>
    <br> -->
    <mat-tab-group class="crdtabs">
        <mat-tab label="Services" style="width: 25%;">

            <div fxLayout="row wrap" class="fltright" #resizedDiv>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="100%" class="block-2">
                    <div fxLayout="column" fxLayoutGap="10px" class="container srch" fxFlex="100%">

                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">
                            <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                                class="grid-item">
                            </div>
                            <div fxFlex.gt-sm="30%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                                class="grid-item">
                                <mat-form-field appearance="" class="w-100 w-101 fltinput">
                                    <input matInput type="text" class="searchtext1"
                                        placeholder="Search Service Name ..." name="serviceName"
                                        [(ngModel)]="serviceName" (input)="Search()" (keyup)="Search()"
                                        (ngModelChange)="Search()" [(ngModel)]="value">
                                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="value=''" class="btnclear" (click)="myClearFunction()">
                                        <mat-icon style="color: gray;">close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>

                        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="100%"
                            class="block-2">
                            <div fxFlex.gt-sm="100%" fxFlex.lt-md="100%" fxLayoutAlign="right" fxFlexFill
                                class="grid-item">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" #resizedDiv>
                <div fxFlex="100" fxFlex.gt-sm="14" fxFlex.sm="50" class="p-1" *ngFor="let service of ServiceList ">
                    <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                        <mat-card class="p-0 Divbg4 crd-mat-card" matTooltip="Explore This Service"
                            [routerLink]="['../../../admin/startup/serviceinfo',service.serviceId,1]">
                            <div fxFlex="100" ffxFlex.sm="50" class="p-1">
                                <div class="text-center" fxFlex="100">
                                    <sup
                                        style="font-size: 13px;font-style: italic;" class="crdtxts">{{service.serviceProviderName}}</sup>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="News Feed" style="width: 25%;">
            <div fxLayout="row wrap " #resizedDiv>
                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="p-1 ">
                    <mat-card class="p-0 Divbg4 mat-expansion-panel mat-expansion-panel1">
                        <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                            <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <img src="assets/images/brands/cmp1.jpg" style="height: 50px; " class="img1"
                                        alt="cinque terre"><sup style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                </div>
                            </div>
                            <div fxFlex="15" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <h3>Cohesity Clex</h3>
                                    <p>Data management</p>
                                </div>
                            </div>
                            <div fxFlex="75" fxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100" style="    margin-top: -9px;">
                                    <span class="txt-cent">Contrary to popular belief, Lorem Ipsum is not simply random
                                        Lorem Ipsum text. It has roots in Lorem Ipsum a piece Latin literature from 45
                                        BC, making it over 2000 years old. From a Lorem Ipsum passage, and going through
                                        the cites of the word in source. Lorem Ipsum.... <a
                                            style="color: #210568;cursor: pointer;font-weight: 600;"> Read
                                            More.</a></span>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="p-1 ">
                    <mat-card class="p-0 Divbg4 mat-expansion-panel mat-expansion-panel1">
                        <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                            <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <img src="assets/images/brands/cmp3.jpg" style="height: 50px; " class="img1"
                                        alt="cinque terre"><sup style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                </div>
                            </div>
                            <div fxFlex="15" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <h3>Zoc Dohah </h3>
                                    <p>Online Networks</p>
                                </div>
                            </div>
                            <div fxFlex="75" fxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100" style="    margin-top: -9px;">
                                    <span class="txt-cent">Contrary to popular belief, Lorem Ipsum is not simply random
                                        text. It has roots in a piece Latin literature from 45 BC, making it over 2000
                                        years old. From a Lorem Ipsum passage, and going through the cites of the word.
                                        From sections 1.10.32 and 1.10.33.... <a
                                            style="color: #210568;cursor: pointer;font-weight: 600;"> Read
                                            More.</a></span>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="p-1 ">
                    <mat-card class="p-0 Divbg4 mat-expansion-panel mat-expansion-panel1">
                        <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                            <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <img src="assets/images/brands/cmp4.jpg" style="height: 50px; " class="img1"
                                        alt="cinque terre"><sup style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                </div>
                            </div>
                            <div fxFlex="15" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <h3>Cleerly Heal </h3>
                                    <p>Healthcare</p>
                                </div>
                            </div>
                            <div fxFlex="75" fxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100" style="    margin-top: -9px;">
                                    <span class="txt-cent">Contrary to popular belief, Lorem Ipsum is not simply random
                                        text. It has roots in a piece Latin literature from 45 BC, making it over 2000
                                        years old. From a Lorem Ipsum passage, and going through the cites of the word
                                        in source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33.... <a
                                            style="color: #210568;cursor: pointer;font-weight: 600;"> Read
                                            More.</a></span>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="p-1 ">
                    <mat-card class="p-0 Divbg4 mat-expansion-panel mat-expansion-panel1">
                        <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                            <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <img src="assets/images/brands/cmp5.jpg" style="height: 50px; " class="img1"
                                        alt="cinque terre"><sup style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                </div>
                            </div>
                            <div fxFlex="15" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <h3>Wasabi Tech </h3>
                                    <p>Cloud Storage</p>
                                </div>
                            </div>
                            <div fxFlex="75" fxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100" style="    margin-top: -9px;">
                                    <span class="txt-cent">Contrary to popular belief, Lorem Ipsum is not simply random
                                        text. It has roots in a piece Latin literature from and going through the cites
                                        BC, making it over 2000 years old. From a Lorem Ipsum passage, and going through
                                        the cites of the word in source. Lorem Ipsum comes from sections 1.10.32 and
                                        1.10.33.... <a style="color: #210568;cursor: pointer;font-weight: 600;"> Read
                                            More.</a></span>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="p-1 ">
                    <mat-card class="p-0 Divbg4 mat-expansion-panel mat-expansion-panel1">
                        <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                            <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <img src="assets/images/brands/cmp6.jpg" style="height: 50px; " class="img1"
                                        alt="cinque terre"><sup style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                </div>
                            </div>
                            <div fxFlex="15" ffxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100">
                                    <h3>Snap Deals </h3>
                                    <p>E-commerce</p>
                                </div>
                            </div>
                            <div fxFlex="75" fxFlex.sm="50" class="p-1">
                                <div class="text-left" fxFlex="100" style="    margin-top: -9px;">
                                    <span class="txt-cent">Contrary to popular belief, Lorem Ipsum is not simply random
                                        text. It has roots in a piece 45 BC, making it over 2000 years old. From a Lorem
                                        Ipsum passage, and going through the cites of the word in source. Lorem Ipsum
                                        comes from sections 1.10.32 and 1.10.33.... <a
                                            style="color: #210568;cursor: pointer;font-weight: 600;"> Read
                                            More.</a></span>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="p-1 ">
                    <div class="text-left" fxFlex="50">
                        <a style="color: #374099; text-decoration: none; cursor: pointer;font-weight: 600;"><i
                                class="fa fa-globe" aria-hidden="true"></i> Showing 5 out of 47. </a>
                    </div>
                    <div class="text-right" fxFlex="50">
                        <a style="color: #374099; text-decoration: none; cursor: pointer;font-weight: 600;"><i
                                class="fa fa-globe" aria-hidden="true"></i> View All </a>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="FAQ's" style="width: 25%;">
            <mat-accordion *ngFor="let faq of FAQList" class="crdaccrd">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fx40">
                            <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 20px;"></i> &nbsp; <span class="crdqst">{{faq.question}}</span>
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{faq.answer}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Privacy Policy" style="width: 25%;">
            <mat-accordion *ngFor="let policy of PolicyList">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="fx10">
                            <i class="fa fa-book" aria-hidden="true" style="font-size: 20px;"></i> &nbsp; <span class="crdqst">{{policy.policyName}}</span>
                        </mat-panel-title>
                        <mat-panel-description>
                            Summary of the content Term Policy
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>{{policy.policyDescription}}.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>