<div class="">
    <div class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Accredited Investor List</h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search ..." name="title"
                            [(ngModel)]="title" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                    <td class="tdbtn">
                        <button mat-raised-button color="primary" type="button"
                            [routerLink]="['../addaccreditedinvestor']"><i class="fa fa-plus"
                                aria-hidden="true"></i>&nbsp; ADD</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell" fxFlex.gt-sm="20">Name</div>
                <div class="mat-header-cell ">Description</div>
                <div class="mat-header-cell text-center" fxFlex="100" fxFlex.gt-sm="10">Action</div>
            </div>
            <div *ngFor="let category of accreditedList | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row ">
                <div class="mat-cell " fxFlex.gt-sm="20">{{category.accreditedInvestorName}}</div>
                <div class="mat-cell ">{{category.description}}</div>

                <div class="mat-cell text-center" fxFlex="100" fxFlex.gt-sm="10">
                    <div class="p-1">
                        <a [routerLink]="['../addaccreditedinvestor',category.accreditedInvestorId]" mat-mini-fab color="primary"
                        matTooltip="Edit">
                        <i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1"
                        (click)="deleteaccrideted(category);">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="accreditedList.length > 0" fxLayout="row wrap">
            <div fxFlex="100" class="p-11">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
            <div fxLayout="" fxLayoutGap="10px" class="container">
                <div fxFlex="50%" class="text-left">
                    <button mat-raised-button color="accent" type="button"
                        [routerLink]="['../../../admin/dashboard-menu/dash-board']"> <i class="fa fa-arrow-circle-left"
                            aria-hidden="true"></i> BACK</button>
                </div>
            </div>
        </div>
    </div>
</div>