<div class="p-1">
    <!-- <mat-divider></mat-divider> -->
    
    <div fxLayout="row wrap" #resizedDiv>
        <!-- <div fxFlex="100" fxFlex.gt-sm="12" fxFlex.sm="50" class="p-1"> 
            <div class="relative w-24 h-24" style="margin: 0.3rem 0rem 0rem 0rem; text-align: center;">
                <img _ngcontent-serverapp-c372="" src="assets/images/profile/adam.jpg" class="w-full h-full rounded-full ng-star-inserted" style="border-radius: 50%; width: 66px;">
            </div>
        </div> -->
    
        <div fxFlex="100" fxFlex.gt-sm="45" fxFlex.sm="50" class="p-1"> 
            <div class="relative w-24 h-24" style="margin: 0.7rem 0rem 0rem 0rem; text-align: left;">
                <h2 style="color:#1e293b;">Welcome Back ! <span style="font-size: small;">(Admin)</span></h2> 
                <span class="blink" [routerLink]="['../../../admin/notification/listnotification']"><i class="fa fa-bell" aria-hidden="true"></i> You have {{notificationCount}} new notifications regarding action.</span>
            </div>
        </div>
    
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="p-1"> 
            <div class="relative w-24 h-24" style="margin: 1rem 0rem 0rem 0rem; text-align: right;">
                <!-- <a mat-mini-fab color="primary" class="clb" matTooltip="Check Emails"><i class="fa fa-envelope" aria-hidden="true"></i></a>  -->
    
            </div>
        </div>

      
        <!-- <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg2" [routerLink]="['../../../admin/masters/listcompany']">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc2" style="font-size: 14px;">Action Center</p>
                </div>  
                <div class="  text-center">
                    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="50" class="p-1"> 
                        <a mat-mini-fab color="primary" matTooltip="Live" class="btns2"> <i class="fa fa-check-circle btnck" aria-hidden="true"></i> &nbsp;Live</a>  
                        &nbsp;&nbsp;
                        <a mat-mini-fab color="primary" matTooltip="Preview" class="btns3"> <i class="fa fa-check-circle btncr" aria-hidden="true"></i> &nbsp;Preview</a>
                    </div>
                </div>
            </mat-card>
        </div>   -->



    </div>
    
    <!-- <mat-divider></mat-divider> -->
    <br>

    <div class="heads">
        <h1>Startups</h1>
      </div>

    <div fxLayout="row wrap" #resizedDiv>
        <div fxFlex="100" fxFlex.gt-sm="16.66" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg2" [routerLink]="['../../../admin/masters/liststartup',2]">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc1">Non-Verified</p>
                </div>  
                <div class="">
                    <p class="pcl1">{{NonVerifiedCount}}</p>
                </div>
            </mat-card>
        </div>    
        <div fxFlex="100" fxFlex.gt-sm="16.66" fxFlex.sm="50" class="p-1 "> 
            <mat-card class="p-0 Divbg2" [routerLink]="['../../../admin/masters/liststartup',1]">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc1">Verified</p>
                </div>         
                <div class="">
                    <p class="pcl1">{{VerifiedCount}}</p>
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="16.66" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg2" [routerLink]="['../../../admin/masters/liststartup',3]">
                <div class="p-1" fxLayoutAlign="space-between center" >
                    <p class="pc1">Live</p>
                </div>         
                <div class="">
                    <p class="pcl1 ">{{LiveCount}}</p>
                </div>
            </mat-card>
        </div> 
        <div fxFlex="100" fxFlex.gt-sm="16.66" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg2" [routerLink]="['../../../admin/masters/liststartup',4]">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc1">Preview</p>
                </div>          
                <div class="">
                    <p class="pcl1 ">{{PreviewCount}}</p>
                </div>
            </mat-card>
        </div>   
        <div fxFlex="100" fxFlex.gt-sm="16.66" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg2" [routerLink]="['../../../admin/masters/liststartup',5]">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc1">Stealth</p>
                </div>          
                <div class="">
                    <p class="pcl1 ">{{StealthCount}}</p>
                </div>
            </mat-card>
        </div> 
        <div fxFlex="100" fxFlex.gt-sm="16.66" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg2" [routerLink]="['../../../admin/masters/listraisefunding',6]">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc1">Raise Funding</p>
                </div>          
                <div class="">
                    <p class="pcl1 ">{{RaiseCount}}</p>
                </div>
            </mat-card>
        </div>   
    </div>
    
    <br>

    <div class="heads">
        <h1 style="color: #008d34 !important;">Investors</h1>
    </div>

    <div fxLayout="row wrap" #resizedDiv>
        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg4" [routerLink]="['../../../admin/masters/listinvestor',2]">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc4">Non-Verified</p>
                </div>  
                <div class="">
                    <p class="pcl4">{{InvestorNonVerifiedCount}}</p>
                </div>
            </mat-card>
        </div>  
        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-1 "> 
            <mat-card class="p-0 Divbg4" [routerLink]="['../../../admin/masters/listinvestor',1]">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc4">Verified</p>
                </div>         
                <div class="">
                    <p class="pcl4">{{InvestorVerifiedCount}}</p>
                </div>
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg4" >
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc4">Indicate Interested</p>
                </div>  
                <div class="">
                    <p class="pcl4">0</p>
                </div>
            </mat-card>
        </div>  

        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg4" >
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc4">Invested</p>
                </div>  
                <div class="">
                    <p class="pcl4">0</p>
                </div>
            </mat-card>
        </div>  

        <div fxFlex="100" fxFlex.gt-sm="20" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg4" [routerLink]="['../../../admin/masters/listrequestoffering']">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc4">Request Offering</p>
                </div>  
                <div class="">
                    <p class="pcl4">0</p>
                </div>
            </mat-card>
        </div>
       
    </div>

    <br>

    <div class="heads">
        <h1 style="color: #db5400 !important;">Services</h1>
    </div>

    <div fxLayout="row wrap" #resizedDiv>
        <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50" class="p-1 "> 
            <mat-card class="p-0 Divbg1" [routerLink]="['../../../admin/masters/listserviceuser']">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc3">Service Users</p>
                </div>         
                <div class="">
                    <p class="pcl3">{{ServiceUserCount}}</p>
                </div>
            </mat-card>
        </div>
        <!-- <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg1" [routerLink]="['../../../admin/masters/listprofilemanagement']">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc3">Profile Management</p>
                </div>  
                <div class="">
                    <p class="pcl3">{{ServiceCount}}</p>
                </div>
            </mat-card>
        </div>   -->
        
        <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50" class="p-1"> 
            <mat-card class="p-0 Divbg1" [routerLink]="['../../../admin/masters/listworkflowmanagement']">
                <div class="p-1" fxLayoutAlign="space-between center">
                    <p class="pc3">Case Management</p>
                </div>  
                <div class="">
                    <p class="pcl3">{{ServiceCaseCount}}</p>
                </div>
            </mat-card>
        </div>  

    </div>

    

    <mat-tab-group>
       

        <mat-tab label="FAQ's" style="width: 25%;">
            <mat-accordion *ngFor="let faq of FAQList">
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="fx40">
                        {{faq.question}}
                    </mat-panel-title>
                    <mat-panel-description>                   
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{faq.answer}}</p>
                </mat-expansion-panel>               
              </mat-accordion>
              <button mat-raised-button color="primary" type="button" class="explr" style="margin-top: 10px !important;margin-left: 10px !important;" [routerLink]="['../../../admin/masters/addfaq']"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; | &nbsp;&nbsp;Add New FAQ</button>
        </mat-tab>
        <mat-tab label="Privacy Policy" style="width: 25%;">
            <mat-accordion *ngFor="let policy of PolicyList" >
                <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="fx10">
                      {{policy.policyName}}
                    </mat-panel-title>
                    <mat-panel-description>
                      Summary of the content Term Policy
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>{{policy.policyDescription}}.</p>
                </mat-expansion-panel>
                <button mat-raised-button color="primary" type="button" class="explr" style="margin-top: 10px !important;margin-left: 10px !important;" [routerLink]="['../../../admin/masters/addpolicy']"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp; | &nbsp;&nbsp;Add New Policy</button>
              </mat-accordion>
        </mat-tab>    
    </mat-tab-group>    
    <br>
    <mat-divider></mat-divider>   
    <p class="ftr">© Startupx - 2023</p>
    </div>
    
    