<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Add Edit Notable Investor</h2>
        </div>
        <form [formGroup]="uploadForm" (ngSubmit)="onNotableInvestorSubmit(uploadForm.value)" autocomplete="off">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px" class="container">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop5">
                        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>First Name</mat-label>
                                <input (keypress)="keyPressOnlyChar($event)" matInput formControlName="firstName"
                                    required>
                                <mat-error *ngIf="uploadForm.controls.firstName.errors?.required">First Name is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.firstName.hasError('minlength')">Please enter
                                    valid First Name</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Last Name</mat-label>
                                <input (keypress)="keyPressOnlyChar($event)" matInput formControlName="lastName"
                                    required>
                                <mat-error *ngIf="uploadForm.controls.lastName.errors?.required">Last Name is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.lastName.hasError('minlength')">Please enter
                                    valid Last Name</mat-error> </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="emailId" required>
                                <mat-error *ngIf="uploadForm.controls.emailId.errors?.required">Email is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.emailId.hasError('pattern')">Please enter
                                    valid
                                    email</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Mobile No.</mat-label>
                                <input matInput matInput formControlName="mobileNo" (keypress)="keyPressNumbers($event)"
                                    minlength="10" maxlength="10" required>
                                <mat-error *ngIf=" uploadForm.controls.mobileNo.errors?.required">Mobil No is
                                    required</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Gender</mat-label>
                                <mat-select matNativeControl formControlName="gender" required>
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                </mat-select>
                                <mat-error *ngIf=" uploadForm.controls.gender.errors?.required">Gender is
                                    required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description (Max. 200 Characters)</mat-label>
                                <textarea matInput formControlName="description" maxlength="200" required></textarea>
                                <mat-error *ngIf=" uploadForm.controls.description.errors?.required">Description is
                                    required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
                <div fxLayout="" fxLayoutGap="10px" class="container">
                    <div fxFlex="50%" class="text-left">
                        <button mat-raised-button color="accent" type="button"
                            [routerLink]="['../../listnotableinvestor']"> <i class="fa fa-arrow-circle-left"
                                aria-hidden="true"></i> BACK</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid"><i
                                class="fa fa-floppy-o" aria-hidden="true"></i> SUBMIT</button>
                    </div>
                    <div fxFlex="50%" class="text-right">
                        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>