<div class="p-1 psab">
    <div fxLayout="column" fxLayoutGap="10px" class="container stkn1" style="    padding-bottom: 10px;">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 "
            style="   padding: 10px; background: #f1f1f1;margin-bottom: 10px;">
            <div fxFlex.gt-sm="25%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idAbout)">
                <b style="cursor: pointer;"><i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; About
                    Company</b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idInvestment)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Investment
                    Opportunity</b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idCapTable)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Cap. Table
                </b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idInvestor)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Investors </b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idCompHigh)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Company
                    Highlights </b>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" class="container stkn2" style="    padding-bottom: 10px;">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 "
            style="   padding: 10px; background: #f1f1f1;margin-bottom: 10px;">
            <div fxFlex.gt-sm="25%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idFounder)">
                <b style="cursor: pointer;"><i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Founders /
                    Members</b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idFunding)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Funding
                    History</b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idManagement)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Management
                </b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idPress)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Press </b>
            </div>
            <div fxFlex.gt-sm="20%" fxFlex.lt-md="50%" fxLayoutAlign="text-left" fxFlexFill class="grid-item"
                (click)="scrollToDiv(idRisk)">
                <b style="cursor: pointer;"> <i class="fa fa-hand-o-right" aria-hidden="true"></i> &nbsp; Risk </b>
            </div>
        </div>
    </div>
    <mat-card class="p-0">
        <mat-card-content>
            <div fxLayout="column" fxLayoutGap="10px" class="container">
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 ">
                    <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <i class="fa fa-arrow-circle-left" aria-hidden="true" style="    font-size: 40px;
                                color: #37993f;" [routerLink]="['../../../discoverlist']"
                            matTooltip="Back To List"></i>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                        class="grid-item"></div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="right" fxFlexFill
                        class="grid-item text-right">
                    </div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 ">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                        class="grid-item">
                        <div class="text-center" fxFlex="100">
                            <img [src]="previewUrl" style="height: 100px; padding: 10px;
                                    border: 1px solid gray;" class="img1" alt="cinque terre">
                            <sup style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                            <h2 style="color:#1e293b;">{{StartUpName}}</h2>
                            <span class="blink">{{SectorName}} </span>
                            <br>
                        </div>
                    </div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mt-10">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                        class="grid-item">
                        <div class="text-center" fxFlex="100">
                            <button mat-raised-button color="primary" class="submit">
                                <mat-label><i class="fa fa-check" aria-hidden="true"
                                        (click)="onButtonClick()"></i>&nbsp;&nbsp;Request Offering</mat-label>
                            </button>
                        </div>
                    </div>
                    <div #idAbout></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;About {{StartUpName}}<br></h2> <br>
                    </div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 ">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                        class="grid-item">
                        <div class="mat-table admin-table mtb">
                            <div class="mat-header-row">
                                <div class="mat-header-cell text-center">Founded</div>
                                <div class="mat-header-cell text-center">Notable Investor</div>
                                <div class="mat-header-cell text-center">Headquarters</div>
                                <div class="mat-header-cell text-center">Total Funding</div>
                            </div>
                            <div class="mat-row">
                                <div class="mat-cell text-center"> {{FoundingYear}}</div>
                                <div class="mat-cell text-center"> Vision Funds</div>
                                <div class="mat-cell text-center"> {{Address}}</div>
                                <div class="mat-cell text-center"> 102.5 M </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <br>
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                        class="grid-item">
                        <p style="line-height: 1.8 !important;color: gray;">{{CompanyDescription}}.</p>
                        <br>
                    </div>
                    <div #idInvestment></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  brdtop">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Investment Opportunity<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxLayout="row wrap " #resizedDiv style="    width: 100%;">
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-1">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <table class="table table-bordered " style="margin-top: 0px;">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Fund Name</th>
                                                <td>{{FundName}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Fund Strategy</th>
                                                <td>{{FundName}}, {{FundStrategy}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Sales Fee</th>
                                                <td>{{SalesFee}} %</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Expected Share Price</th>
                                                <td>$ {{ExpectedSharePrice}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Security Type</th>
                                                <td>{{SecurityType}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Implied Company Valuation</th>
                                                <td>$ {{ImpliedCompanyValuation}} M</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Latest Post Money Valuation</th>
                                                <td>$ {{LatestPostMoneyValuation}} M</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Discount</th>
                                                <td>{{Discount}} %</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Minimum Investment Size</th>
                                                <td>$ {{MinimumInvestmentSize}}</td>
                                            </tr>
                                        <tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #idCapTable></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  brdtop">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Cap. Table<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxLayout="column" class="container" style="width: 100%;">
                        <div class="mat-header-row mt-row" style="margin: 0px;">
                            <div class="mat-header-cell text-center mt-col" fxFlex="13%">Name Of<br>Series</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="10%">Share<br>Class</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="8%">Date Of<br>Financing</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="10%">Shares<br>Outstanding</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="8%">Issue<br>Price</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="12%">Conversion<br>Price</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="12%">Total Fin.<br>Size</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="18%">Liquidation<br>Preference</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="9%">Liquidity<br>Rank</div>
                        </div>
                        <mat-accordion [togglePosition]="'before'">
                            <div class="mat-row" *ngFor="let funding of fundingList">
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-description class="fx-desc">
                                            <div class="mat-header-cell text-left" fxFlex="12%" matTooltip="Series">
                                                {{funding.seriesName}}</div>
                                            <div class="text-center" fxFlex="8%" matTooltip="Class">
                                                {{funding.shareClass}}</div>
                                            <div class="text-center" fxFlex="10%" matTooltip="Date of Financing">
                                                {{funding.dateFinancing | date:'dd/MM/yyyy'}}</div>
                                            <div class="text-center" fxFlex="10%" matTooltip="Shares Outstanding">
                                                {{funding.sharesOutstanding}} M</div>
                                            <div class="text-center" fxFlex="10%" matTooltip="Issue Price">
                                                {{funding.issuePrice | currency:'USD':'symbol'}}</div>
                                            <div class="text-center" fxFlex="10%" matTooltip="Conversion Price">
                                                {{funding.conversionPrice | currency:'USD':'symbol'}}</div>
                                            <div class="text-center" fxFlex="16%" matTooltip="Total Financing Size">
                                                {{funding.totalFinancingSize | currency:'USD':'symbol'}} </div>
                                            <div class="text-center" fxFlex="16%" matTooltip="Liquidation Preference">
                                                {{funding.liquidationPreference | currency:'USD':'symbol'}}</div>
                                            <div class="text-right" fxFlex="8%" matTooltip="Liquidity Rank">
                                                {{funding.liquidityRank}}</div>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr *ngIf="funding.dividendRate!='' || null">
                                                <th scope="row">Dividend Rate</th>
                                                <td>{{funding.dividendRate}}</td>
                                            </tr>
                                            <tr *ngIf="funding.dividendType!='' || null">
                                                <th scope="row">Dividend Type</th>
                                                <td>{{funding.dividendType}}</td>
                                            </tr>
                                            <tr *ngIf="funding.qualifiedIpo!='' || null">
                                                <th scope="row">Qualified IPO</th>
                                                <td>{{funding.qualifiedIpo}}</td>
                                            </tr>
                                            <tr *ngIf="funding.votesPerShare!='' || null">
                                                <th scope="row">Votes Per Share</th>
                                                <td>{{funding.votesPerShare}}</td>
                                            </tr>
                                            <tr *ngIf="funding.redemptionRights!='' || null">
                                                <th scope="row">Redemption Rights</th>
                                                <td>{{funding.redemptionRights}}</td>
                                            </tr>
                                            <tr *ngIf="funding.convertibleToOnPublicListing!='' || null">
                                                <th scope="row">Convertible To On Public Listing</th>
                                                <td>{{funding.convertibleToOnPublicListing}}</td>
                                            </tr>
                                            <tr *ngIf="funding.otherKeyProvisions!='' || null">
                                                <th scope="row">Other Key Provisions</th>
                                                <td>{{funding.otherKeyProvisions}}</td>
                                            </tr>
                                            <tr *ngIf="funding.participatingPreferred!='' || null">
                                                <th scope="row">Participating Preferred</th>
                                                <td>{{funding.participatingPreferred}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </mat-expansion-panel>
                            </div>
                        </mat-accordion>
                        <div class="row " style="margin-top: 10px;">
                            <div class="mat-header-cell text-center mt-col" fxFlex="14%">Totals</div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="6.5%"></div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="10%"></div>
                            <div class="mat-header-cell text-center mt-col" fxFlex="12%">${{LastValuation}} M</div>
                        </div>
                    </div>
                    <div #idInvestor></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  brdtop">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Investors<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxLayout="row wrap " #resizedDiv>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-2">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <a href="#" style="text-decoration: none;color: navy;line-height: 0;">
                                            <h3><i class="fa fa-angle-double-right" aria-hidden="true"></i> Acre Venture
                                                Partner</h3><br><span class="prv1">Cleerly Heals Business Network</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-2">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <a href="#" style="text-decoration: none;color: navy;line-height: 0;">
                                            <h3><i class="fa fa-angle-double-right" aria-hidden="true"></i> Balyasny
                                                Asset Management</h3><br><span class="prv1">Cleerly Heals Business
                                                Network, Orbital Insight</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-2">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <a href="#" style="text-decoration: none;color: navy;line-height: 0;">
                                            <h3><i class="fa fa-angle-double-right" aria-hidden="true"></i> Baron
                                                Capital Limited</h3><br><span class="prv1">Datametics, Cleerly Heals
                                                Business Network</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #idCompHigh></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  brdtop">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Company Highlights<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxLayout="row wrap " #resizedDiv>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-1">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left p1" fxFlex="100">
                                        <ul class="p1" style="line-height:2.5">
                                            <li><span>{{ServiceDescription}}.</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #idFounder></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  brdtop">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Founders / Members<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxLayout="row wrap " #resizedDiv>
                        <div fxFlex="100" ffxFlex.sm="50" class="pfvisit Divbg3" *ngFor="let founder of founderList">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        {{founder.Id}}
                                    </div>
                                </div>
                                <div fxFlex="30" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        <a href="#" style="text-decoration: none;color: navy;">
                                            <h3>{{founder.firstName}} {{founder.lastName}}</h3>
                                        </a>
                                    </div>
                                </div>
                                <div fxFlex="60" fxFlex.sm="50" class="p-1">
                                    <div class="text-right" fxFlex="100">
                                        <span class="text-right" style="font-style: italic;">Founder</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #idFunding></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  ">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Funding History<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                        class="grid-item">
                        <div class="mat-table admin-table mtb">
                            <div class="mat-header-row">
                                <div class="mat-header-cell text-left"> &nbsp; No.</div>
                                <div class="mat-header-cell text-center">Month Year</div>
                                <div class="mat-header-cell text-center">Funded Amount</div>
                            </div>
                            <div class="mat-row" *ngFor="let funding of fundingList">
                                <div class="mat-cell text-left"> &nbsp; &nbsp; {{funding.Id}} </div>
                                <div class="mat-cell text-center"> {{funding.dateFinancing | date:'MM-yyyy'}} </div>
                                <div class="mat-cell text-center"> {{funding.totalFinancingSize}} M </div>
                            </div>
                        </div>
                    </div>
                    <div #idManagement></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  ">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Management<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="100%" class="block-2 mttop20">
                    <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 ">
                        <div fxLayout="row wrap" fxFlex="100">
                            <div fxFlex="50" ffxFlex.sm="50" class="p-1 p1">
                                <div class="text-left" fxFlex="100">
                                    <!-- <a href="#" style="text-decoration: none;color: navy;"><h3>Chief Executive Officer</h3></a> -->
                                    <span class="text-right" style="font-style: italic;">{{ManagementInfo}}</span>
                                </div>
                            </div>                       
                        </div>
                    </div>
                    <div #idPress></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  brdtop">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Press<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxLayout="row wrap " #resizedDiv>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-2">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <a href="#" style="text-decoration: none;color: navy;line-height: 0;">
                                            <h3><i class="fa fa-angle-double-right" aria-hidden="true"></i> Cleerly
                                                Heals Business Network drops annual fee.</h3><br><span
                                                class="prv1">Cleerly Heals Business Network</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-2">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <a href="#" style="text-decoration: none;color: navy;line-height: 0;">
                                            <h3><i class="fa fa-angle-double-right" aria-hidden="true"></i> FBN launches
                                                free membership on Cleerly Heals Business Network.</h3><br><span
                                                class="prv1">Cleerly Heals Business Network, Orbital Insight</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-2">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <a href="#" style="text-decoration: none;color: navy;line-height: 0;">
                                            <h3><i class="fa fa-angle-double-right" aria-hidden="true"></i> Cleerly
                                                Heals Business Network launches RnD on 20% discount rate for healthcare
                                                members.</h3><br><span class="prv1">Datametics, Cleerly Heals Business
                                                Network</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div #idRisk></div>
                </div>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2  brdtop">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Risk<br></h2>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                    <div fxLayout="row wrap " #resizedDiv>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-1">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <span class="prv1">The standard chunk of Lorem Ipsum used since the 1500s is
                                            reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de
                                            Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                                            original form, accompanied by English versions from the 1914 translation by
                                            H. Rackham.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-1">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <span class="prv1">There are many variations of passages of Lorem Ipsum
                                            available, but the majority have suffered alteration in some form, by
                                            injected humour, or randomised words which don't look even slightly
                                            believable. If you are going to use a passage of Lorem Ipsum, you need to be
                                            sure there isn't anything embarrassing hidden in the middle of text. All the
                                            Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                                            necessary, making this the first true generator on the Internet. </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" ffxFlex.sm="50" class=" Divbg3 mt-1">
                            <div fxLayout="row wrap" fxFlex="100">
                                <div fxFlex="100" ffxFlex.sm="50" class="p-1 p1">
                                    <div class="text-left" fxFlex="100">
                                        <span class="prv1">It is a long established fact that a reader will be
                                            distracted by the readable content of a page when looking at its layout. The
                                            point of using Lorem Ipsum is that it has a more-or-less normal distribution
                                            of letters, as opposed to using 'Content here, content here', making it look
                                            like readable English. Many desktop publishing packages and web page editors
                                            now use Lorem Ipsum as their default model text, and a search for 'lorem
                                            ipsum' will uncover many web sites still in their infancy.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 brdtop ">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Private Competitors<br></h2>
                    </div>
                </div>
                <div fxLayout="row wrap " #resizedDiv style="margin-left: 40px;margin-top: 20px;">
                    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100"
                        [routerLink]="['../../../admin/investor/companydetails']" style="cursor:pointer">
                        <mat-card class="p-0 Divbg4">
                            <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                                <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        <img src="assets/images/brands/cmp3.jpg" style="height: 50px; " class="img1"
                                            alt="cinque terre"><sup
                                            style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                    </div>
                                </div>
                                <div fxFlex="65" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        <h3>Company Name</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and chunk of used since
                                            typesetting industry. </p>
                                    </div>
                                </div>

                                <div fxFlex="25" ffxFlex.sm="50" class="p-1">
                                    <div class="text-center mt-10" fxFlex="100">
                                        <a class="invbtn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" class="mt-1"
                        [routerLink]="['../../../admin/investor/companydetails']" style="cursor:pointer">
                        <mat-card class="p-0 Divbg4">
                            <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                                <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        <img src="assets/images/brands/cmp5.jpg" style="height: 50px; " class="img1"
                                            alt="cinque terre"><sup
                                            style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                    </div>
                                </div>
                                <div fxFlex="65" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        <h3>Company Name</h3>
                                        <p>Lorem Ipsum has been the industry's chunk of used since standard dummy text
                                            ever since the today.</p>
                                    </div>
                                </div>

                                <div fxFlex="25" ffxFlex.sm="50" class="p-1">
                                    <div class="text-center mt-10" fxFlex="100">
                                        <a class="invbtn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
                <br>
                <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 brdtop ">
                    <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="left" fxFlexFill class="grid-item">
                        <h2 style="color:#1e293b;font-style: italic;"><br>&nbsp;Public Competitors<br></h2>
                    </div>
                </div>
                <div fxLayout="row wrap " #resizedDiv style="margin-left: 40px;margin-top: 20px;">
                    <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100" *ngFor="let item of compitetorFounderList"
                        [routerLink]="['../../../admin/investor/companydetails']" style="cursor:pointer">
                        <mat-card class="p-0 Divbg4">
                            <div fxLayout="row wrap" fxFlex="100" class=" mt-1">
                                <div fxFlex="10" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        <img [src]="item.startupDeatailModel.previewUrl" style="height: 50px; " class="img1"
                                            alt="cinque terre"><sup
                                            style="font-size: 13px;margin-top: -16px;">&nbsp;</sup>
                                    </div>
                                </div>
                                <div fxFlex="23" ffxFlex.sm="50" class="p-1">
                                    <div class="text-left" fxFlex="100">
                                        <h3>{{item.startupDeatailModel.startUpName}}</h3>
                                        <p>{{item.startupDeatailModel.companyLegalName}}</p>
                                    </div>
                                </div>
                                <div fxFlex="22" ffxFlex.sm="50" class="p-1">
                                    <div class="text-center" fxFlex="100">
                                        <h3>46.23 M</h3>
                                        <p class="text-center">Market Cap</p>
                                    </div>
                                </div>
                                <div fxFlex="20" ffxFlex.sm="50" class="p-1">
                                    <div class="text-center" fxFlex="100">
                                        <h3>113.2 M</h3>
                                        <p class="text-center">Total Revenue</p>
                                    </div>
                                </div>
                                <div fxFlex="25" ffxFlex.sm="50" class="p-1">
                                    <div class="text-center mt-10" fxFlex="100">
                                        <a class="invbtn">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>