<div class="">
    <div class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; <span> {{type}} </span> INVESTORS </h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search ..." name="title"
                            [(ngModel)]="title" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                </tr>
            </table>
        </div>
        <div class="wid100">
            <div class="mat-table admin-table">
                <div class="mat-header-row">
                    <div class="mat-header-cell">Name</div>
                    <div class="mat-header-cell text-center" fxFlex.gt-sm="9">Verify?</div>
                    <div class="mat-header-cell text-center">Email</div>
                    <div class="mat-header-cell text-center">MobileNo</div>
                    <div class="mat-header-cell text-center">Address</div>
                    <div *ngIf="!verified" class="mat-header-cell text-center" fxFlex="100" fxFlex.gt-sm="19">Action
                    </div>
                </div>
                <div *ngFor="let investor of investorList | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                    <div class="mat-cell"> <a
                            [routerLink]="['../../viewinvestor',investor.userId,investor.investorVerifyId,formType]"
                            matTooltip="view"
                            class="btns1">{{investor.investorDetailModel.firstName}}<span>&nbsp;</span>{{investor.investorDetailModel.lastName}}</a>
                    </div>
                    <div *ngIf="investor.verified" class="mat-cell text-center" fxFlex.gt-sm="9">Yes</div>
                    <div *ngIf="!investor.verified" class="mat-cell text-center" fxFlex.gt-sm="9">No</div>
                    <div class="mat-cell text-center">{{investor.investorDetailModel.emailId}}</div>
                    <div class="mat-cell text-center">{{investor.investorDetailModel.mobileNo}}</div>
                    <div class="mat-cell text-center">
                        {{investor.investorDetailModel.address1}}<span>&nbsp;</span>{{investor.investorDetailModel.address2}}
                    </div>
                    <div *ngIf="!verified" class="mat-cell text-center" fxFlex="100" fxFlex.gt-sm="19">
                        <a (click)="approveInvestor(investor.userId,investor.investorVerifyId);" color="primary"
                            matTooltip="Approve" class="btns2"> <i class="fa fa-check-circle btnck"
                                aria-hidden="true"></i> Approve</a>
                        <a (click)="openDialog(investor.userId,investor.investorVerifyId)" color="primary"
                            matTooltip="Not Approve" class="btns3"> <i class="fa fa-times-circle btncr"
                                aria-hidden="true"></i> Not Approve</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="investorList.length > 0" fxLayout="row wrap">
            <div fxFlex="100" class="p-11">
                <mat-card class="p-0 text-center nobxshbrd">
                    <pagination-controls class="product-pagination" autoHide="true" maxSize="5"
                    (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
            <div fxLayout="" fxLayoutGap="10px" class="container">
                <div fxFlex="50%" class="text-left">
                    <button mat-raised-button color="accent" type="button"
                        [routerLink]="['../../../../admin/dashboard-menu/dash-board']"> <i
                            class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK</button>
                </div>
            </div>
        </div>
    </div>
</div>