<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; List of Service Profile Management</h2>
            <table class="tblsearch">
                <tr>
                    <td class="tdsearch"> <span class="fa fa-search searchtext-icon"></span>
                        <input matInput type="text" class="searchtext" placeholder="Search ..." name="title"
                            [(ngModel)]="title" (input)="Search()" (keyup)="Search()" (ngModelChange)="Search()">
                    </td>
                </tr>
            </table>
        </div>
        <mat-divider></mat-divider>
        <div>
            <div class="mat-table admin-table">
                <div class="mat-header-row">
                    <div class="mat-header-cell">Service Provider</div>
                    <div class="mat-header-cell">Contact Information</div>
                    <!-- <div class="mat-header-cell">Service Name</div>
                    <div class="mat-header-cell">Description</div> -->
                    <div class="mat-header-cell">Category</div>
                    <div class="mat-header-cell">Tags/Keywords</div>
                    <div class="mat-header-cell" fxFlex.gt-sm="10">Portfolio</div>
                </div>
                <div class="mat-row" *ngFor="let service of ServiceProfileList">
                    <div class="mat-cell">{{service.serviceProviderName}}</div>
                    <div class="mat-cell">{{service.contactInformation}}</div>
                    <!-- <div class="mat-cell">{{service.serviceName}}</div>
                    <div class="mat-cell">{{service.description}}</div> -->
                    <div class="mat-cell">{{service.category}}</div>
                    <div class="mat-cell">{{service.tagsKeywords}}</div>
                    <div class="mat-cell" fxFlex.gt-sm="10"><button color="primary" matTooltip="Download"
                            class="mx-1 mydoc" (click)="downloadDocument(service.serviceId);"><i class="fa fa-download"
                                aria-hidden="true"></i> Download </button></div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row wrap">
            <div fxFlex="100" class="p-11">
                <mat-card class="p-0 text-center nobxshbrd">
                    <!-- <pagination-controls class="product-pagination" autoHide="true" maxSize="5" ></pagination-controls> -->
                </mat-card>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
            <div fxLayout="" fxLayoutGap="10px" class="container">
                <div fxFlex="50%" class="text-left">
                    <button mat-raised-button color="accent" type="button"
                        [routerLink]="['../../../admin/dashboard-menu/dash-board']"> <i class="fa fa-arrow-circle-left"
                            aria-hidden="true"></i> BACK</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>