<div class="p-1">
    <mat-card class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Change Password</h2>   
        </div>
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit(uploadForm.value)" autocomplete="off">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px" class="container">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2">    
                        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="New Password" formControlName="newPassword" required [type]="hide1 ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="uploadForm.controls.newPassword.errors?.required">Password is required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.newPassword.hasError('minlength')">Password isn't long enough, minimum of 6 characters</mat-error>
                                <mat-error *ngIf="uploadForm.controls.newPassword.hasError('pattern')">Password must contain at least one number, one uppercase, one lowercase letter & one special character & at least 6 characters.</mat-error>
                            
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill class="grid-item">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput formControlName="confirmPassword" placeholder="Confirm Password" [type]="hide2 ? 'password' : 'text'" required >
                                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="uploadForm.controls.confirmPassword.errors?.required">Confirm
                                    Password is
                                    required</mat-error>
                                <mat-error
                                    *ngIf="uploadForm.controls.confirmPassword.hasError('mismatchedPasswords')">
                                    Passwords do not match</mat-error>                            
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
                <div fxLayout="" fxLayoutGap="10px" class="container">
                    <div fxFlex="50%" class="text-left">
                        <button mat-raised-button color="accent" type="button" (click)="backButtonClick()"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> UPDATE</button>
                    </div>
                    <div fxFlex="50%" class="text-right">
                        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
                    </div>
                </div>
            </div>
        </form> 
    </mat-card>
</div>


