<div class="">
    <div class="p-0">
        <div fxLayout="row wrap " fxLayoutAlign="space-between center" class="w-100 p-2 crdhead">
            <h2><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Type Of Funding</h2> <mat-icon></mat-icon>
        </div>
        <form [formGroup]="uploadForm" (ngSubmit)="onfundingSubmit(uploadForm.value)" autocomplete="off">
            <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px" class="container">
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlex="33%" class="block-2">

                        <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Name of Series</mat-label>
                                <mat-error *ngIf=" uploadForm.controls.name.errors?.required"> Name is
                                    required</mat-error>
                                <input (keypress)="keyPressOnlyChar($event)" matInput formControlName="name" required>
                                <!-- <mat-select matNativeControl formControlName="name" required>
                                        <mat-option value="Angel">Angel</mat-option>
                                        <mat-option value="Seed">Seed</mat-option>
                                        <mat-option value="Crowd">Crowd</mat-option>
                                    </mat-select> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxFlex="33%" class="block-2 mttop20">
                        <div fxFlex.gt-sm="100%" fxFlex.lt-md="50%" fxLayoutAlign="center center" fxFlexFill
                            class="grid-item">
                            <mat-form-field appearance="" class="w-100 w-101">
                                <mat-label>Series Description (Max. 200 char.)</mat-label>
                                <textarea matInput formControlName="description" required></textarea>
                                <mat-error *ngIf=" uploadForm.controls.description.errors?.required">Description is
                                    required</mat-error>
                                <mat-error *ngIf="uploadForm.controls.description.hasError('maxlength')">Description
                                    cannot exceed more than 200 characters</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-2 crdfooter">
                <div fxLayout="" fxLayoutGap="10px" class="container">
                    <div fxFlex="50%" class="text-left">
                        <button mat-raised-button color="accent" type="button" [routerLink]="['../listfunding']"> <i
                                class="fa fa-arrow-circle-left" aria-hidden="true"></i> BACK</button>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!uploadForm.valid" class="explr"><i
                                class="fa fa-floppy-o" aria-hidden="true"></i> SUBMIT</button>
                    </div>
                    <div fxFlex="50%" class="text-right">
                        <h4 class="crdtip">Tip : (*) fields are mandatory.</h4>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>