<button mat-icon-button [matMenuTriggerFor]="messagesMenu" (click)="openMessagesMenu()"
    #messagesMenuTrigger="matMenuTrigger" class="headerbtn">
    <mat-icon matBadge="{{notificationCount}}" matBadgeColor="warn" class="headericon">notifications</mat-icon>
</button>
<mat-menu #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages">
    <span (mouseleave)="messagesMenuTrigger.closeMenu()">
        <mat-tab-group backgroundColor="primary" (click)="stopClickPropagate($event)" [selectedIndex]="selectedTab"
            mat-stretch-tabs>
            <mat-tab>
                <ng-template mat-tab-label class="headertbs">
                    <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
                        <h6 style="font-size: 14px;color: white;">Notifications</h6>
                    </div> 
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                    <div fxLayout="column" fxLayoutAlign="none">
                        <button mat-button *ngFor="let message of NotificationList">
                            <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                                <span class="text text-muted">{{message.message}}
                                    <br/> {{message.createdDate | date}} {{message.createdDate | date:'H:mm a'}}</span>
                            </div>
                        </button>
                    </div>
                </mat-card>
            </mat-tab>
            <!-- <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>email</mat-icon>
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                  <div fxLayout="column" fxLayoutAlign="none">
                      <button mat-button *ngFor="let meeting of meetings">  
                          <div fxLayout="column" fxLayoutAlign="center center" class="row-1">
                              <span class="name">{{meeting.day}}</span>
                              <span class="name">{{meeting.month}}</span>
                          </div>
                          <div fxLayout="column" fxLayoutAlign="none">
                              <span class="text text-muted">{{meeting.text}}</span>
                          </div>
                      </button>
                    </div>             
                </mat-card>
            </mat-tab> -->
        </mat-tab-group>
    </span>
</mat-menu>